<div class="footer">
    <span class="first">Made in India by </span>
    <span class="second"><a class="merge_link" href="https://tanzeel-online.herokuapp.com/" target="_blank">Tanzeel </a></span>
    <span class="third">with </span>
    <span class="second">Angular </span>
    <span class="first">and </span>
    <span class="fourth">love.</span>
    <br>
    <span class="updates">Updates:&nbsp;</span>
    <span class="merge"><a class="merge_link" href={{mergeLink}} target="_blank">{{mergeHistory}}&nbsp;</a></span>
    <span class="by">by&nbsp;</span>
    <span class="user"><a class="merge_link" href={{userLink}} target="_blank">{{pushedBy}}&nbsp;</a></span>
    <span class="on">on&nbsp;</span>
    <span class="date">{{timeStamp}}</span>
</div>