<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="fa fa-code fa-1x fa-lg"></span>&nbsp;
    <a class="navbar-brand" href="#">SocialCoder</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/articles" routerLinkActive="active">Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/discussions" routerLinkActive="active">Q&A</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contribute" style="cursor: pointer" *ngIf="_authService.loggedIn()" routerLinkActive="active">Contribute</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/ask" style="cursor: pointer" *ngIf="_authService.loggedIn()" routerLinkActive="active">Ask</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item current-user-item">
                <a [routerLink]="['user-details']">
                    <div *ngIf="_authService.loggedIn()">
                        <span class="fa fa-circle" style="color:green;"></span>&nbsp;&nbsp;
                        <span class="current-user">{{ userProfile?.firstName }} {{ userProfile?.lastName }}</span>
                    </div>
                </a>
            </li>
            <li class="nav-item login">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" *ngIf="!_authService.loggedIn()" routerLink="/login">Login</button>
            </li>
            &nbsp;&nbsp;
            <li class="nav-item signup">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" *ngIf="!_authService.loggedIn()" routerLink="/register">Register</button>
            </li>
            <li class="nav-item signup">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" *ngIf="_authService.loggedIn()" (click)="_authService.getMyArticles()" routerLink="/myarticles">
          <span class="fa fa-pencil"></span>&nbsp;Articles
        </button>
            </li>&nbsp;&nbsp;
            <li class="nav-item signup">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()" routerLink="/register" disabled>
          <span class="fa fa-question-circle"></span>&nbsp;Questions
        </button>
            </li>
            &nbsp;&nbsp;
            <li class="nav-item signup">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()" routerLink="/register">
          <span class="fa fa-sign-out"></span>&nbsp;Logout
        </button>
            </li>
        </ul>
    </div>
</nav>
<!-- <div class="container">
    <router-outlet></router-outlet>
</div> -->