<div class="container-fluid">
    <div class="row justify-content-center" style="margin-top: 40px;">
        <div class="col-8">
            <div class="jumbotron">
                <h3>Login</h3>
                <div>
                    <!-- registration form starts here -->
                    <form>
                        <div class="form-group">
                            <label for="usernameInput">User Name or Email</label>
                            <input type="text" class="form-control" name="usernameInput" [(ngModel)]="loginUserData.email">
                        </div>
                        <div class="form-group">
                            <label for="passwordInput">Password</label>&nbsp;&nbsp;
                            <span *ngIf="isFullEye()">
                              <span class="fa fa-eye icon" (click)="hide=!hide; changeEye();"></span>
                            </span>
                            <span *ngIf="isScratchedEye()">
                              <span class="fa fa-eye-slash icon" (click)="hide=!hide; changeEye();"></span>
                            </span>
                            <input type="password" class="form-control" name="passwordInput" [(ngModel)]="loginUserData.password" [type]="hide ? 'password':'text'">
                        </div>
                        
                        <button type="submit" (click)="onSubmit()" class="btn btn-primary">
                            <span *ngIf="credentialsSubmitted">
                                <span *ngIf="responseAwaited" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            </span>
                            Submit
                        </button>

                        <br><br>
                        <hr>
                        <div *ngIf="flag.valid===false" id="login-denied">
                            <span class="fa fa-times-circle" style="color:firebrick;"></span> {{message}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>