.heading-text {
    margin-top: 50px;
    text-align: center;
    font-size: 35px;
    font-family: 'Muli', sans-serif;
    color: salmon;
  }

  .my-articles-container {
    width: 75vw;
    display: flex;
  }
  
  .card {
    margin-bottom: 10px;
  }