<br><br><br>
<div class="container-fluid" align=center>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <img class="actual-image" src="../assets/images/programmer.gif" alt="wallpaper">
        </div>
    </div>
</div>
<div align=center>
    <span class="first">Hello world!</span>&nbsp;
    <span class="second">Not everyone you meet is a social butterfly.</span>
</div>
<div align=center>
    <span class="third">Some choose to be</span>&nbsp;
    <span class="fourth">SocialCoder.</span>&nbsp;
    <span class="fifth">Be one of us.</span>
</div>
<br><br>
<app-sponcers></app-sponcers>