<br><br><br>
<div class="container-fluid" align=center>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <img class="actual-image" src="../assets/images/programmer.gif" alt="wallpaper">
        </div>
    </div>
</div>
<div align=center>
    <span class="first">{{'landingPageStrings.helloWorld' | translate}}</span>&nbsp;
    <span class="second">{{'landingPageStrings.landingPageTextFirst' | translate}}</span>
</div>
<div align=center>
    <span class="third">{{'landingPageStrings.landingPageTextSecond' | translate}}</span>&nbsp;
    <span class="fourth">{{'landingPageStrings.socialCoder' | translate}}</span>&nbsp;
    <span class="fifth">{{'landingPageStrings.landingPageTextThird' | translate}}</span>
</div>
<br><br>
<app-sponcers></app-sponcers>