<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <div id="template"><img class="sponcer-image" src="../../assets/images/meganz.png"></div>
    </ng-template> 
    <ng-template carouselSlide>
    <div id="template"><img class="sponcer-image" src="../../assets/images/kendoui.png"></div>
        </ng-template>  
    <ng-template carouselSlide>
        <div id="template"><img class="sponcer-image" src="../../assets/images/primeng.png"></div>
    </ng-template>  
    <ng-template carouselSlide>
        <div id="template"><img class="sponcer-image" src="../../assets/images/mongodb.png"></div>
    </ng-template>  
    <ng-template carouselSlide>
        <div id="template"><img class="sponcer-image" src="../../assets/images/angular.png"></div>
    </ng-template>  
    <ng-template carouselSlide>
        <div id="template"><img class="sponcer-image" src="../../assets/images/github.png"></div>
    </ng-template>  
    <ng-template carouselSlide>
        <div id="template"><img class="sponcer-image" src="../../assets/images/rxjs.png"></div>
    </ng-template>  
    <ng-template carouselSlide>
        <div id="template"><img class="sponcer-image" src="../../assets/images/expressjs.png"></div>
    </ng-template>  
    <ng-template carouselSlide>
        <div id="template"><img class="npm-logo" src="../../assets/images/npm.png"></div>
    </ng-template>  
    <ng-template carouselSlide>
        <div id="template"><img class="fontawesome-logo" src="../../assets/images/fontawesome.png"></div>
    </ng-template>  
    <ng-template carouselSlide>
        <div id="template"><img class="quill-logo" src="../../assets/images/quill.png"></div>
    </ng-template>  
</owl-carousel-o>
