<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <div id="template"><img class="sponcer-image" src="../../assets/images/meganz.png" alt="sponcer-image"></div>
    </ng-template> 
    <ng-template carouselSlide>
    <div id="template"><img class="sponcer-image" src="../../assets/images/kendoui.png" alt="sponcer-image"></div>
        </ng-template>  
    <ng-template carouselSlide>
        <div id="template"><img class="sponcer-image" src="../../assets/images/primeng.png" alt="sponcer-image"></div>
    </ng-template>  
    <ng-template carouselSlide>
        <div id="template"><img class="sponcer-image" src="../../assets/images/mongodb.png" alt="sponcer-image"></div>
    </ng-template>  
    <ng-template carouselSlide>
        <div id="template"><img class="sponcer-image" src="../../assets/images/angular.png" alt="sponcer-image"></div>
    </ng-template>  
    <ng-template carouselSlide>
        <div id="template"><img class="sponcer-image" src="../../assets/images/github.png" alt="sponcer-image"></div>
    </ng-template>  
    <ng-template carouselSlide>
        <div id="template"><img class="sponcer-image" src="../../assets/images/rxjs.png" alt="sponcer-image"></div>
    </ng-template>  
    <ng-template carouselSlide>
        <div id="template"><img class="sponcer-image" src="../../assets/images/expressjs.png" alt="sponcer-image"></div>
    </ng-template>  
    <ng-template carouselSlide>
        <div id="template"><img class="npm-logo" src="../../assets/images/npm.png" alt="sponcer-image"></div>
    </ng-template>  
    <ng-template carouselSlide>
        <div id="template"><img class="fontawesome-logo" src="../../assets/images/fontawesome.png" alt="sponcer-image"></div>
    </ng-template>  
    <ng-template carouselSlide>
        <div id="template"><img class="quill-logo" src="../../assets/images/quill.png" alt="sponcer-image"></div>
    </ng-template>  
</owl-carousel-o>
